<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Name" providerName="System.Data.ProviderName" connectionString="Valid Connection String;"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttp" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp1" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp3" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp12" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IImportPackageService" closeTimeout="01:00:00"
                    openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IImportPackageService1" closeTimeout="01:00:00"
                    openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp4" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp13" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp2">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp11">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp5">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp14">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp6">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp15">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp7">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOperationAuthorizationService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp8">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp16">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp9">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOperationAuthorizationService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp10">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp17">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp18">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="wsHttp19">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp20">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOperationAuthorizationService2">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp21">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOperationAuthorizationService3">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp22">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ILogicalTerminalService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp23">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ISubscriberService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp24">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IInternationalWiresAdministrationService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp25">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOperationAuthorizationService4">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IProductService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IProductService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICertificateService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICertificateService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService2">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService11">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService3">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService12">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService4">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService13">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService5">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService14">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService6">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService15">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService7">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService16">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService8">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService17">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp26">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonServiceConfigurationService9">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IFarmService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IFarmService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IStorageService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IStorageService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp27">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IEnterpriseEventAdministrationServiceType">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="wsHttp28">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOperationAuthorizationService5">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/IdentityManagement/UserClaims.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp5" contract="JmcImsUserClaimsServiceReference.IUserClaimService"
                name="wsHttp5" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/IdentityManagement/UserClaims.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp14" contract="JmcImsUserClaimsServiceReference.IUserClaimService"
                name="wsHttp14" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/ProviderType.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp3" contract="JMCProviderTypeServiceReference.IProviderTypeService"
                name="wsHttp3" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/ProviderType.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp12" contract="JMCProviderTypeServiceReference.IProviderTypeService"
                name="wsHttp12" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/Institution.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="JMCInstitutionServiceReference.IInstitutionService"
                name="wsHttp" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/Institution.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp1" contract="JMCInstitutionServiceReference.IInstitutionService"
                name="wsHttp1" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/ImportPackage.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IImportPackageService"
                contract="JMCImportPackageServiceReference.IImportPackageService"
                name="WSHttpBinding_IImportPackageService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/ImportPackage.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IImportPackageService1"
                contract="JMCImportPackageServiceReference.IImportPackageService"
                name="WSHttpBinding_IImportPackageService1" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp2" contract="JMCAuthorizationAdminServiceRef.IServiceGatewayOperationAuthorizationService"
                name="wsHttp2" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp11" contract="JMCAuthorizationAdminServiceRef.IServiceGatewayOperationAuthorizationService"
                name="wsHttp11" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/CertificateStore.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp6" contract="JMCCertServiceReference.ICertificateStoreService"
                name="wsHttp6" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/ServiceGateway/CertificateStore.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp15" contract="JMCCertServiceReference.ICertificateStoreService"
                name="wsHttp15" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/BroadcastEvent/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp7" contract="JmcBeAuthorizationAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp7" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/BroadcastEvent/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationAuthorizationService"
                contract="JmcBeAuthorizationAdminServiceReference.IOperationAuthorizationService"
                name="WSHttpBinding_IOperationAuthorizationService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseLogging/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp8" contract="JMCElAuthorizationAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp8" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseLogging/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp16" contract="JMCElAuthorizationAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp16" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/PersistentStorage/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp9" contract="JmcPsAuthorizationAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp9" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/PersistentStorage/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationAuthorizationService1"
                contract="JmcPsAuthorizationAdminServiceReference.IOperationAuthorizationService"
                name="WSHttpBinding_IOperationAuthorizationService1" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/IdentityManagement/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp10" contract="JMCImsAuthoriztionAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp10" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/IdentityManagement/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp17" contract="JMCImsAuthoriztionAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp17" />
            <endpoint address="https://jxchange.ednqadli12r201.qa.edn/jXchange/2008/InternationalWires/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp20" contract="JmcDliAuthAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp20" />
            <endpoint address="https://jxchange.ednqadli12r201.qa.edn/jXchange/2008/InternationalWires/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationAuthorizationService2"
                contract="JmcDliAuthAdminServiceReference.IOperationAuthorizationService"
                name="WSHttpBinding_IOperationAuthorizationService2" />
            <endpoint address="https://jxchange.ednqadlw12r201.qa.edn/jXchange/2008/FedLine/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp21" contract="JMCfedlineAdminServiceReference.IOperationAuthorizationService"
                name="wsHttp21" />
            <endpoint address="https://jxchange.ednqadlw12r201.qa.edn/jXchange/2008/FedLine/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationAuthorizationService3"
                contract="JMCfedlineAdminServiceReference.IOperationAuthorizationService"
                name="WSHttpBinding_IOperationAuthorizationService3" />
            <endpoint address="https://jxchange.ednqadlw12r201.qa.edn/jXchange/2008/FedLine/LogicalTerminal.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp22" contract="JmcFedlineLogicalTermServiceReference.ILogicalTerminalService"
                name="wsHttp22" />
            <endpoint address="https://jxchange.ednqadlw12r201.qa.edn/jXchange/2008/FedLine/LogicalTerminal.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogicalTerminalService"
                contract="JmcFedlineLogicalTermServiceReference.ILogicalTerminalService"
                name="WSHttpBinding_ILogicalTerminalService" />
            <endpoint address="https://jxchange.ednqadli12r201.qa.edn/jXchange/2008/InternationalWires/InternationalWiresAdmin.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp24" contract="JmcDliWiresAdminServiceReference.IInternationalWiresAdministrationService"
                name="wsHttp24" />
            <endpoint address="https://jxchange.ednqadli12r201.qa.edn/jXchange/2008/InternationalWires/InternationalWiresAdmin.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternationalWiresAdministrationService"
                contract="JmcDliWiresAdminServiceReference.IInternationalWiresAdministrationService"
                name="WSHttpBinding_IInternationalWiresAdministrationService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/BroadcastEvent/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp25" contract="EAAuthorizedAdministrationServiceReference.IOperationAuthorizationService"
                name="wsHttp25" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/BroadcastEvent/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationAuthorizationService4"
                contract="EAAuthorizedAdministrationServiceReference.IOperationAuthorizationService"
                name="WSHttpBinding_IOperationAuthorizationService4" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService"
                contract="InfraCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService1"
                contract="InfraCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService1" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/ProductService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductService"
                contract="InfraProductServiceReference.IProductService" name="WSHttpBinding_IProductService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/ProductService.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductService1"
                contract="InfraProductServiceReference.IProductService" name="WSHttpBinding_IProductService1" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/CertificateService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICertificateService"
                contract="InfraCertificateServiceReference.ICertificateService"
                name="WSHttpBinding_ICertificateService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/CertificateService.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICertificateService1"
                contract="InfraCertificateServiceReference.ICertificateService"
                name="WSHttpBinding_ICertificateService1" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/PersistentStorage/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService3"
                contract="JmcPsCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService3" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/PersistentStorage/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService12"
                contract="JmcPsCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService12" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseLogging/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService4"
                contract="JmcElCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService4" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseLogging/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService13"
                contract="JmcElCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService13" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/Institution/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService5"
                contract="JmcFiCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService5" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/Institution/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService14"
                contract="JmcFiCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService14" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/IdentityManagement/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService6"
                contract="JmcImsCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService6" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/IdentityManagement/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService15"
                contract="JmcImsCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService15" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseAudit/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService7"
                contract="JmcEaCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService7" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseAudit/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService16"
                contract="JmcEaCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService16" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseEvent/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService8"
                contract="JmcEeCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService8" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/EnterpriseEvent/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService17"
                contract="JmcEeCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService17" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/BroadcastEvent/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp26" contract="JmcBeCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="wsHttp26" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/BroadcastEvent/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService9"
                contract="JmcBeCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService9" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/Farm.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFarmService"
                contract="InfraFarmServiceReference.IFarmService" name="WSHttpBinding_IFarmService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/Infrastructure/Services/Farm.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFarmService1"
                contract="InfraFarmServiceReference.IFarmService" name="WSHttpBinding_IFarmService1" />
            <endpoint address="https://fedline-dlwdev.ess-az.com/jXchange/2008/FedLine/Subscriber.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp23" contract="JmcFedlineSubscriberServiceReference.ISubscriberService"
                name="wsHttp23" />
            <endpoint address="https://fedline-dlwdev.ess-az.com/jXchange/2008/FedLine/Subscriber.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriberService"
                contract="JmcFedlineSubscriberServiceReference.ISubscriberService"
                name="WSHttpBinding_ISubscriberService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/PersistentStorage/Storage.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStorageService"
                contract="JmcPsStorageServiceReference.IStorageService" name="WSHttpBinding_IStorageService" />
            <endpoint address="https://jx15padapter.idg.jha-sys.com/jXchange/2008/PersistentStorage/Storage.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStorageService1"
                contract="JmcPsStorageServiceReference.IStorageService" name="WSHttpBinding_IStorageService1" />
            <endpoint address="https://10.226.63.62/jXchange/2008/EnterpriseEvent/EnterpriseAuditAdmin.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp27" contract="JmcEeEnterpriseAuditAdminServiceReference.IEnterpriseEventAdministrationServiceType"
                name="wsHttp27" />
            <endpoint address="https://10.226.63.62/jXchange/2008/EnterpriseEvent/EnterpriseAuditAdmin.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEnterpriseEventAdministrationServiceType"
                contract="JmcEeEnterpriseAuditAdminServiceReference.IEnterpriseEventAdministrationServiceType"
                name="WSHttpBinding_IEnterpriseEventAdministrationServiceType" />
            <endpoint address="https://10.226.63.62/jXchange/2008/EnterpriseAudit/AuthorizationAdministration.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp28" contract="JmcEeAuthorizationAdministrationServiceReference.IOperationAuthorizationService"
                name="wsHttp28" />
            <endpoint address="https://10.226.63.62/jXchange/2008/EnterpriseAudit/AuthorizationAdministration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationAuthorizationService5"
                contract="JmcEeAuthorizationAdministrationServiceReference.IOperationAuthorizationService"
                name="WSHttpBinding_IOperationAuthorizationService5" />
            <endpoint address="https://jxchange-alpha.dev.jha/jXchange/2008/ServiceGateway/Endpoint.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp18" contract="JmcSgEndpointServiceReference.IEndpointService"
                name="wsHttp18" />
            <endpoint address="https://jxchange-alpha.dev.jha/jXchange/2008/ServiceGateway/Endpoint.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp19" contract="JmcSgEndpointServiceReference.IEndpointService"
                name="wsHttp19" />
            <endpoint address="https://jxchange-alpha.dev.jha/jXchange/2008/ServiceGateway/CommonConfiguration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService2"
                contract="JmcSgCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService2" />
            <endpoint address="https://jxchange-alpha.dev.jha/jXchange/2008/ServiceGateway/CommonConfiguration.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceConfigurationService11"
                contract="JmcSgCommonConfigurationServiceReference.ICommonServiceConfigurationService"
                name="WSHttpBinding_ICommonServiceConfigurationService11" />
            <endpoint address="https://jxchange-alpha.dev.jha/jXchange/2008/ServiceGateway/ConfiguredProvider.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp4" contract="JMCConfiguredProviderServiceReference.IConfiguredProviderService"
                name="wsHttp4" />
            <endpoint address="https://jxchange-alpha.dev.jha/jXchange/2008/ServiceGateway/ConfiguredProvider.svc/username"
                binding="wsHttpBinding" bindingConfiguration="wsHttp13" contract="JMCConfiguredProviderServiceReference.IConfiguredProviderService"
                name="wsHttp13" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
